body
{
    font-family: Verdana, Arial, sans-serif;
}

.title, .recipes
{
    box-sizing: border-box;
    width: 400px;
    margin: 0 auto;
}

.title
{
    background-color: lightblue;
    height: 150px;
    margin-top: 40px;
    padding-top: 35px;
    text-align: center;
}

.recipes
{
    background-color: lightgray;
    font-size: 18px;
    height: 450px;
}

.recipes ul
{
    box-sizing: border-box;
    width: 350px;
    margin: 0 auto;
    padding-top: 50px;
}

.recipes li
{ 
    margin-bottom: 20px;
}