html
{
    box-sizing: border-box;
}

*
{
    box-sizing: inherit;
}

body
{
    font-family: Verdana, Arial, sans-serif;
}

.homepage
{
    background-image: url("./images/OEB9AO0.jpg");
}

.title, .recipes
{
    width: 400px;
    margin: 0 auto;
}

.title
{
    background-color: lightblue;
    height: 150px;
    margin-top: 40px;
    padding-top: 35px;
    text-align: center;
}

.recipes
{
    background-color: lightgray;
    font-size: 18px;
    height: 450px;
}

.recipes ul
{
    width: 350px;
    margin: 0 auto;
    padding-top: 50px;
}

.recipes li, .recipe-ingredients li, .recipe-steps li
{ 
    margin-bottom: 20px;
}

a
{
    text-decoration: none;
}

.recipe-name, img, .recipe-description, .recipe-ingredients, .recipe-steps
{
    margin-left: 50px;
}

.home-button
{   
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
}

.recipe-name
{   
    padding-top: 20px;
    margin-bottom: 50px;
}

.recipe-description, .recipe-steps
{   
    margin-top: 50px;
    margin-bottom: 50px;
}

.recipe-ingredients, .recipe-steps
{
    padding: 30px;
    border-radius: 25px;
}

.recipe-ingredients
{   
    width: 700px;
    background-color: lightcyan;
}

.recipe-steps
{
    width: 1200px;
    background-color: lightsalmon;
}